Package: __PACKAGE_NAME__
Version: __VERSION__-__BUILDNUMBER__
Section: base
Priority: optional
Architecture: all
Maintainer: Mark Callan <mark.l.callan@gmail.com>
Description: srvr-farm-certs
 Certificates for the srvr.farm domains.
